*{
    box-sizing: border-box;
}
#animate-con{
    background-color: white;
    width: 400px;
    height: 400px;
    position: relative;
}
#animate{
    width: 100px;
    height: 100px;
    position: absolute;
}

#mouse{
    width: 200px;
    height: 20px;
    background-color: aqua;
}
#multi{
    width: 150px;
    height: 20px;
}
#bubble{
    background-color: beige;
    width: 300px;
    height: 300px;
    padding: 20px;
}
#buble_img{
    width: 200px;
    height: 200px;
}